<html>
<head>
    <title>student data</title>
    {% include 'students/cdnlines.html' %}
</head>
<body>
<h1 class="text-center ">Student Data..</h1>
<table class="table table-bordered text-center bg-primary text-white">
    <thead>
    <tr>
        <th>student name</th>
        <th>class</th>
        <th>section</th>
        <th>school</th>
        <th>mobile</th>
        <th>email</th>
        <th>telugu</th>
        <th>hindi</th>
        <th>english</th>
        <th>maths</th>
        <th>science</th>
        <th>social</th>
        <th>Actions.</th>
    </tr>
    </thead>
    <tbody>
    {% for s in students %}
        <tr>
        <td>{{ s.student_name }}</td>
        <td>{{ s.class_name }}</td>
        <td>{{ s.section}}</td>
        <td>{{ s.school_name }}</td>
        <td>{{ s.email }}</td>
        <td>{{ s.mobile }}</td>
        <td>{{ s.telugu_marks }}</td>
        <td>{{ s.hindi_name }}</td>
        <td>{{ s.english_name }}</td>
        <td>{{ s.maths_name }}</td>
        <td>{{ s.science_name }}</td>
        <td>{{ s.social_name }}</td>
        <td>

                <a href="#" class="btn btn-primary">Update</a>
                <a href="#" class="btn btn-danger">Delete</a>

        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'add_student'  %}" class="btn btn-success">Add Student</a>
</body>
</html>